<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><em>Semi<em>-Sentient Schoolmate</title>
  </head>
  <body>
    <h3>蝉・センティエント・スクールメート</h3>
    <h1><em>Semi</em>-Sentient Schoolmate</h1>

  </body>
</html>
