.textbox {
  max-height: 144px;
  width: 99%;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(85, 97, 78, 1);
  color: white;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: 4px;
  font-family: 'Rock Salt', cursive;
}
